@import '../../../../css/var';

$fade-time-out: 300;

.fade {
    height: 100%;
    left: 0;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: $z-index-popup-wrapper;
}

.fade__enter {
    opacity: 0;
}

.fade__enter__active {
    opacity: 1;
    transition: opacity #{$fade-time-out}ms ease;
}

.fade__exit {
    opacity: 0;
    transition: opacity #{$fade-time-out}ms ease;
}
