@import '../../../../css/var';

$popup-appear-time-out: 300;

%transition-rule {
    transition: transform #{$popup-appear-time-out}ms ease, opacity #{$popup-appear-time-out}ms ease;
}

.popup_container {
    box-sizing: border-box;
    display: block;
    min-width: 420px;
    overflow: auto;

    &.popup_container__full_screen {
        max-height: 100%;
        max-width: 100%;
    }
}

.popup_wrapper {
    align-items: center;
    background-color: rgba(0, 0, 0, 0.75);
    color: $main-text-color;
    display: flex;
    flex-direction: column;
    font-family: $main-font-family;
    height: 100%;
    justify-content: center;
    left: 0;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: $z-index-popup;
}

.popup_appear__enter {
    .popup_container {
        @extend %transition-rule;

        opacity: 0;
        transform: scale(0);
    }
}

.popup_appear__enter__active {
    .popup_container {
        @extend %transition-rule;

        opacity: 1;
        transform: scale(1);
    }
}

.popup_appear__enter__done {
    .popup_container {
        opacity: 1;
        transform: scale(1);
    }
}

.popup_appear__exit {
    .popup_container {
        @extend %transition-rule;

        opacity: 0;
        transform: scale(0);
    }
}
