@import '../popup-content/popup-content';
@import '../popup/popup';

.confirm__button_list_wrapper {
    @extend %popup-content;

    display: flex;
    padding-top: 0;
}

.confirm__button {
    margin-left: $popup-buttons-spacing;
    min-width: 90px;
}
