%button-list-wrapper,
.button_list_wrapper {
    display: flex;
}

.button_list_wrapper__center {
    @extend %button-list-wrapper;

    flex-direction: column;
}

.button_list_wrapper__column {
    @extend %button-list-wrapper;

    flex-direction: column;
}

.button_list_wrapper__left {
    @extend %button-list-wrapper;

    flex-direction: column;
}

.button_list_wrapper__right {
    @extend %button-list-wrapper;

    flex-direction: row;
    justify-content: flex-end;
}
