/* stylelint-disable selector-pseudo-class-no-unknown */

@import './var';

body {
    background-color: #f0ece3;
    color: $main-text-color;
    font-family: $main-font-family;
    font-size: $main-font-size;
    line-height: $main-line-height;
}

:global .app-wrapper {
    display: block;
}
